body {
  background-color: antiquewhite
}

li {
  list-style: none;
}

ul {
  padding: 5px 0px;
  margin: 5px 0px;
}

h2 {
  font-family: "MuseoModerno";
  font-size: 1.7em;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

p {
  font-family: Inter;
  line-height: 1.5rem;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}


main {
  display: flex;
  flex-direction: column;
  margin: auto ;
}

@media (min-width: 800px) {
  main {
    max-width: 1200px;
  }
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-style: normal;
  font-family: Fugaz One;
  text-align: center;
  
}
.header h1 {
  color: cornsilk;
  -webkit-text-stroke: 1px darkred;
  text-shadow: 5px 5px 0px darkred;
  font-size: 5em;
}


.banner {
  min-height: 300px;
  width: 100vw;
  
}

.filter_form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.filter_form select, button {
  margin: 0.2em;
  padding: 1em;
  background-color: aliceblue;
  border: 0px;
  border-radius: 5px;
}

.filter_form select:hover, button:hover {
  background-color: lightcoral;
}


.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.commentCard {
  padding: 5px 20px;
  background-color: cornsilk;
  margin: 10px -4px;
  border-radius: 10px;
}

.nav_list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}

.nav_item {
  font-size: 1.1em;
  padding: 10px;
  margin: 10px;
  background-color: cornsilk;
  border: solid 1px black ;
  box-shadow: 5px 5px 0px black;
}

.nav_item li, a {
  outline: none;
  color: black;
  border: none;
  text-decoration: none;
}

.nav_item:hover {
  color: wheat;
  background-color: crimson;
  border: solid 1px darkred;
  box-shadow: 10px 10px 0px darkred;
}


.commentForm {
  background-color: aliceblue;
  padding: 15px;
  margin: 0px;
}

.commentField {
  padding: 5px;
  margin: 5px;
  width: -webkit-fill-available;
}

.reviews_container{
  display: flex;
}

.reviews_list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 2fr));
}


.review_card {
  display: flex;
  margin: 5px;
  padding: 0px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: cornsilk;
}

.review_card img {
  width: inherit;
  border-radius: 5px 5px 0px 0px;
}

.review_card__text {
  padding: 1em 1em;
}

.review_card__btn {
  padding: 10px;
  margin: 15px 10px;
  background-color: cornsilk;
  border: solid 1px black ;
  box-shadow: 5px 5px 0px black;
}

.review_card__btn:hover {
  color: wheat;
  background-color: crimson;
  border: solid 1px darkred;
  box-shadow: 10px 10px 0px darkred;
  margin: 15px 10px;
  padding: 10px;
}

.review_card_btn-container {
  margin-top: 20px;
  margin-bottom: 25px;
}

