li {
  list-style: none;
}

ul {
  padding: 5px 0px;
  margin: 5px 0px;
}

h1 {
  text-align: center;
  margin: auto auto;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.commentCard {
  padding: 5px 20px;
  background-color: aliceblue;
  margin: 10px -4px;
  border-radius: 10px;
}

.navList {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
}

.navItem {
  padding: 0px;
  margin: 5px;
}

.navBtn {
  padding: 5px;

}